header
    nav
        h1
            text-align: center
            font-size: 3em
            margin: 50px 0px
        #titre_schrol
            display: none
            margin: 0
        .container
            display: flex
            height: 6em
            ul
                display: flex
                justify-content: space-around
                align-items: center
                flex: 2
                list-style: none
                text-decoration: none
                text-transform: uppercase
                font-weight: bold
                a
                    text-decoration: none
                    color: grey
                #connexion
                    color: white
                    background: grey
                    padding: 10px 20px
            div
                display: flex
                justify-content: center
                align-items: center
                flex: 1
    #banner
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0px 300px
        height: 500px
        background-image: url(../img/slider-1.jpg)
        background-repeat: no-repeat
        background-size: contain
        background-color: #f3f3f3
        background-position-x: right 300px
        h2
            color: $rouge
            font-size: 50px
            margin: 0
            span
                color: black
                font-size: 100px
                line-height: 90px
        p
            color: grey
        button
            background-color: $rouge
            color: white 
            width: 150px
            height: 50px
            border-radius: 50px
            text-transform: uppercase
            border: none
