section
    #banner
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0px 300px
        height: 500px
        background-image: url(../img/slider-1.jpg)
        background-repeat: no-repeat
        background-size: contain
        background-color: #f3f3f3
        background-position-x: right 300px
        h2
            color: $rouge
            font-size: 50px
            margin: 0
            span
                color: black
                font-size: 100px
                line-height: 90px
        p
            color: grey
        button
            background-color: $rouge
            color: white 
            width: 150px
            height: 50px
            border-radius: 50px
            text-transform: uppercase
            border: none
    .container1
        padding: 50px 15px
        display: grid
        grid: "fiche1 fiche2 fiche3" auto/1fr 1fr 1fr
        gap:  0 25px
        div
            height: 250px
            width: 100%
            text-align: center
            font-size: 40px
            color: white
            display: flex
            flex-direction: column
            justify-content: center
            p
                margin: 0
            hr
                height: 3px
                width: 70%
                margin: 0 auto
                border: 0
                color: white
                background-color: white
        #fiche1
            background-color: green
            grid-area: "fiche1"
            background-image: url(../img/services/service-1.jpg)
        #fiche2
            background-color: blue
            grid-area: "fiche2"
            background-image: url(../img/services/service-2.jpg)
        #fiche3
            background-color: white
            grid-area: "fiche3"
            background-image: url(../img/services/slider-3.jpg)
    .container2
        padding: 50px 300px
        h4
            font-size: 30px
            text-align: center
            margin: 0
            padding-bottom: 50px
        #grid
            display: grid
            grid: "fiche1 fiche2 fiche3" auto/1fr 1fr 1fr
            gap:  25px 25px
            .produit
                height: 375px
                text-align: center
                overflow: hidden
                .produit_calque
                    overflow: hidden
                    height: 250px
                    .produit-image
                        height: 250px
                        background-position: center
                        background-size: cover
                        transition: 1s all ease-in-out
                    .view
                        position: relative
                        bottom: 0px
                        height: 0%
                        width: 100%
                        color: white
                        overflow: hidden
                        display: flex
                        font-size: 10px
                        transition-duration: 0.5s
                        .red
                            width: 50%
                            background-color: $rouge
                            opacity: 90%
                            padding-top: 10px
                        .black
                            width: 50%
                            background-color: black
                            opacity: 90%
                            padding-top: 8px
                    .produit-image:hover
                        transform: scale(1.2)
                        
            #produit-1
                .produit-image
                    background-image: url(../img/products_mini/product-luxry-sofa.jpg)
            #produit-2
                .produit-image
                    background-image: url(../img/products_mini/product-gloves.jpg)
            #produit-3
                .produit-image
                    background-image: url(../img/products_mini/product-cups.jpg)
            #produit-4
                .produit-image
                    background-image: url(../img/products_mini/product-bag.jpg)
            #produit-5
                .produit-image
                    background-image: url(../img/products_mini/product-tshitr.jpg)
            #produit-6
                .produit-image
                    background-image: url(../img/products_mini/product-plates.jpg)
            #produit-7
                .produit-image
                    background-image: url(../img/products_mini/product-modern-sofa.jpg)
            #produit-8
                .produit-image
                    background-image: url(../img/products_mini/product-bed.jpg)
            #produit-9
                .produit-image
                    background-image: url(../img/products_mini/product-shoes.jpg)
            .produit-info
                height: 125px
                background-color: white
                display: flex
                justify-content: space-around
                align-items: center
                p
                    font-weight: bold
                .prix
                    color: $rouge
                    span
                        color: grey
                        text-decoration: line-through
                button
                    color: white
                    background-color: $rouge
                    border: none
                    height: 70px
                    width: 70px
                    border-radius: 50%
                    font-weight: bold
@media screen and ( max-width: 1024px )
    section
        #banner
            padding: 0px 100px
            background-position-x: right 0px
            h2
                font-size: 40px
                span
                    font-size: 70px
            p
                font-size: 12px
            button
                width: 100px
                height: 50px
                border-radius: 25px
        .container1
            grid: "fiche1" auto/1fr
            gap:  25px 25px
            div
                p
                hr
            #fiche1
                background-position: center
                background-size: cover
            #fiche2
                background-position: center
                background-size: cover
            #fiche3
                background-position: center
                background-size: cover
        .container2
            padding: 50px 15px
            #grid
                display: grid
                grid: "fiche1" auto/1fr
                gap:  25px 25px
@media screen and ( max-width: 812px )
    section
        #banner
            padding: 0px 100px
            background-position-x: right 0px
            h2
                font-size: 25px
                span
                    font-size: 40px
            p
                font-size: 12px
            button
                width: 100px
                height: 50px
                border-radius: 25px
        .container1
            grid: "fiche1" auto/1fr
            gap:  25px 25px
            div
                p
                hr
            #fiche1
                background-position: center
                background-size: cover
            #fiche2
                background-position: center
                background-size: cover
            #fiche3
                background-position: center
                background-size: cover
        .container2
            padding: 50px 15px
            #grid
                display: grid
                grid: "fiche1" auto/1fr
                gap:  25px 25px
        

